{% extends 'base.html' %}

{% block content %}

<form method='POST'>

    {% csrf_token %}

<!--{{ form.errors }} django default vypis erroru -->
<!--{{ form.as_p }} django default formular
oboji nahrazeno custom stylem -->

{% for field in form.visible_fields %} <!--fields, ktere nejsou type=hidden -->

    {% for error in field.errors %} <!--{{ form.errors }} django default vypis erroru -->
      {{ error }}
    {% endfor %}  <!--zobrazi vzdy posledni zaznamenany error, vzdy nad polem, ktereho se tyka -->

    <p>{{ field.label_tag}}{{ field }}</p>
{% endfor %}

    <input type="submit" value="Change">

</form>

{% endblock content %}
