{% extends 'base.html' %}

{% block title %}
<title>Profile</title>
{% endblock title %}

{% block content %}
<div>

  <h2>Edit your profile</h2>
<!--chceme vlastni sablonu pro views.edit_profile-->

  <form method="post" enctype="multipart/form-data">

    {% csrf_token %}

<!--
    <p>{{ form.username.label }}: {{ form.username }}</p>
    <p>{{ form.email.label }}: {{ form.email }}</p>
    <p>{{ form.first_name.label }}: {{ form.first_name }}</p>
    <p>{{ form.last_name.label }}: {{ form.last_name }}</p>
-->

    {% for field in user_form.visible_fields %}

        {% for error in field.errors %}
        {{ error }}
        {% endfor %}

        {% if field.label != "Password" %}
        <p>{{ field.label_tag}}{{ field }}</p>
        {% endif %}

    {% endfor %}

    {% for field in profile_form.visible_fields %}

        {% for error in field.errors %}
        {{ error }}
        {% endfor %}

        <p>{{ field.label_tag}}{{ field }}</p>

    {% endfor %}

    <p>Profile changes: {{ request.session.profile_changes }}</p>

    <button type="submit">Save</button>
  </form>

</div>
{% endblock content %}
