{% extends 'base.html' %}
{% load accounts_tags %}
{% load static %}


{% block title %}
<title>Host list</title>
{% endblock title %}

{% block content %}

{% for profile in profiles %}
<div>
    <a href="{{ profile.get_absolute_url }}">
        <p>{{ profile.user.username }}</p>
    </a>
        <p> {% if profile.avatar|has:'url' %} <!--zmeneno z user.profile.avatar -->
        <img src="{{ profile.avatar.url }}" alt='{{ profile.user.username }}'> <!--zmeneno z user.profile.avatar.url - chceme zobrazit avatar hostitelu, ne vlastni-->
    {% else %}  <!-- alt - alternativni text pro pripad ze obrazek nemuze byt zobrazen, zobrazi se vedle obrazku -->
        <img src="{% static 'img/avatar.jpg' %}" alt='Not Available'>
    {% endif %}
        </p>
</div>

{% empty %} <!--v pripade, ze profiles je prazdny; musi byt uvnitr for cyklu; for - empty - endfor == if -- for - endfor -- else -- endif -->
    {% if user|has:'profile' and user.profile.is_host %}
        <p>You are the only host right now</p>
    {% else %}
        <p>No hosts right now</p>
    {% endif %}
{% endfor %}

{% if user|has:'profile' and not user.profile.is_host %}
<div>
    <a href="{% url 'accounts:become_host' %}">Become a host</a>
</div>
{% endif %}

{% endblock content %}
