{% extends 'base.html' %}

{% load static %}

{% block title %}<title>Login</title>{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock css %}

{% block content %}

<main>

  <div class="main-banner" id="main-banner-small">
  </div>

  <div class="login-register">
    <h2>Login</h2>

    <form method="post">
    {% csrf_token %}
    {% for field in form.visible_fields %}
        {% for error in field.errors %}
        {{ error }}
        {% endfor %}

        <p>{{ field.label_tag}}{{ field }}</p>

    {% endfor %}
        <button type="submit" class="submit-button">Log in</button>
    </form>

  </div>

</main>

{% endblock %}
