{% extends 'base.html' %}
{% load static %}
{% load accounts_tags %}  <!--aby se spravne naloadoval modul accounts_tags z package templatetags, je potreba restart serveru -->

{% block title %}
<title>Profile</title>
{% endblock title %}

{% block content %}
<br>
<table>
  <tr>
      <td>

      {% if user.profile.avatar|has:'url' %}
          <img src="{{ user.profile.avatar.url }}">
      {% else %}
          <img src="{% static 'img/avatar.jpg' %}">
      {% endif %}

      </td>
  </tr>

    <tr>
        <td>Username: </td><td>{{ user.username }}</td>
    </tr>
    <tr>
        <td>First Name: </td><td>{{ user.first_name }}</td>
    </tr>
    <tr>
        <td>Last Name: </td><td>{{ user.last_name }}</td>
    </tr>
    <tr>
        <td>Email: </td><td>{{ user.email }}</td>
    </tr>
     <tr>
        <td>Joined: </td><td>{{ user.date_joined }}</td>
    </tr>
</table>

<br><br>

  <div>
    {% if user.is_authenticated %}
    <a href="{% url 'accounts:edit_profile' %}">EDIT PROFILE</a><br>
    <a href="{% url 'accounts:change_password' %}">CHANGE PASSWORD</a>
    {% endif %}
  </div>
<br>
  <div>
    {% if user.is_authenticated %}
    <a href="{% url 'events:add_event' %}">ADD EVENT</a>
    {% endif %}
  </div>
    {% if user.is_authenticated %}
    <a href="{% url 'events:my_events_listing' %}">MY EVENTS LISTING</a>
    {% endif %}
  </div>

  <div>
    <a href="{% url 'events:events_listing' 'all' %}">All Events listing</a>
  </div>

{% endblock content %}
