{% extends 'base.html' %}

{% load static %}

{% block title %}
<title>Register</title>
{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
{% endblock css %}

{% block content %}
<main>

  <div class="main-banner" id="main-banner-small">
  </div>

  <div class="login-register">
      <h2>Register</h2>

  {#  <form id='register-form' method="post" data-username-validation="{% url 'accounts:validate_username' %}">  #} <!-- konvence: custom atribut ma prefix data- -->
      <form id='register-form' method="post" data-validation="{% url 'accounts:validate_register_form' %}"> <!-- nahrazuje predchozi radek -->
<!--zmena popsana u change_password.html -->
<!--errors jsou nyni zobrazeny na zaklade input msg do ValidationError() ve validate_human_name (validators.py)  -->
<!--moznost definovat non_field_errors viz nize  -->

    {% csrf_token %}

    {% if form.non_field_errors %}
        <ul>
        {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    {% for field in form.visible_fields %}
        <p>{{ field.label_tag}}{{ field }}</p>
        {% for error in field.errors %}
        <div class="error">
        {{ error }}
        </div>
        {% endfor %}
    {% endfor %}

          <button type="submit" class="submit-button">Sign up</button>
      </form>



    </div>

</main>
{% endblock content %}
