{% extends 'base.html' %}

{% block title %}
<title>Verification complete</title>
{% endblock title %}

{% block content %}
<p>Congratulations, you can now begin to earn your money.</p>

<p><a href="{% url 'events:add_event' %}"><strong>Add your first event</strong></a></p>
{% endblock content %}
