{% extends 'base.html' %}

{% block title %}
<title>Your Event Run Detail</title>
{% endblock title %}

{% block content %}

<div>
<a href="{% url 'accounts:profile' %}">{{ user.get_full_name }}</a>
</div>

<h1>Your Event Run Detail</h1>
      <ul>
          <li>EVENT: {{ run.event }}
          <li>DATE: {{ run.date }},&nbsp;{{ run.time }}
          <li>PLACES AVAILABLE: {{ run.seats_available}}
          <li>PRICE: {{ run.price}}
      </ul>

<div>
   <a href="{% url 'events:runs_listing' run.event.id %}">BACK TO YOUR RUNS</a>
</div>

{% endblock content %}
