{% extends 'base.html' %}

{% block title %}
<title> Event Runs</title>
{% endblock title %}

{% block content %}

<div>
<a href="{% url 'accounts:profile' %}">{{ user.get_full_name }}</a>
</div>

<h1> Event Runs for event {{ runs.0.event }},&nbsp ID {{ runs.0.event_id }} </h1>
    <ul>
    {% for run in runs %}
    <li>RUN: {{ run.date }},&nbsp; {{ run.time }}

      {% if user.is_authenticated %}
      &nbsp <a href="{% url 'events:run_detail'  run.event.id run.id %}">YOUR RUN DETAIL</a>
      &nbsp <a href="{% url 'events:update_run' run.event.id run.id %}">UPDATE YOUR RUN</a>
      &nbsp <a href="{% url 'events:delete_run' run.event.id run.id %}">DELETE YOUR RUN</a>
      {% endif %}

    {% endfor %}
    </ul>
{% endblock content %}
