{% extends "base.html" %}
{% load cart_tags %}

{% block title %}
<title>Cart Detail</title>
{% endblock %}

{% block content %}
<table class="cart">
  <thead>   <!-- struktura tabulky: table -> thead, tbody, tfoot; thead pokud ma byt header pro sloupce -> tr -> th -->
  {% if not cart.is_empty %}
    <tr>
        <th>NAME</th>
        <th>DESCRIPTION</th>
        <th>PRICE</th>
        <th>QUANTITY</th>
        <th></th>
    </tr>
  {% endif %}
  </thead>
  <tbody>
  {% for item in cart %}
      <tr>
        <td>
            <a href="{{ item.object.event.get_absolute_url }}"> <!-- odkaz na event odpovidajici danemu product_id (item je product_id) v kosiku -->
                  {{ item.object.event.name }}
            </a>
        </td>
        <td>With {{ item.object.event.host }} in {{ item.object.event.location }}</td>
        <td>$ {{ item.total_price }}</td>
        <td>
            {% url 'cart:add' item.object.event.slug as cart_add_url %} <!-- tento odkaz neni zobrazen, pouze dochazi k referencovani na cart_add_url; tzn. nevyhodi NoReverseMatch error kdyz chybi view, pouziti: odkaz na volitelny link -->
            <form action="{{ cart_add_url }}"  method='POST'> <!-- az zde je odkaz zobrazen, muze tedy nasledovat napr. za if .. -->
                {% csrf_token %}
                {{ item.cartadd_form.quantity }}
                <input name="current_quantity" value="{% get_key cart item.object.id %}" type="hidden"> <!-- get_key je CUSTOM template tag a pouziva CUSTOM metodu Cart.get() -> vraci pro objekt cart HODNOTU KLICE item.object.id  (tj. hodnotu product_id tech polozek, ktere jsou jiz v kosiku), coz je definovano v cart_tags.py), konkretne vsak jen item.object.id.quantity (definovano v cart.py) -->
                {{ item.cartadd_form.update }}
                <input name="product_id" value={{ item.object.id }} type="hidden">
                <button type='submit'>Update</button>
            </form>
        </td>
        <td>
            <a href="{% url 'cart:remove' item.object.id %}"><button type='submit'>Remove</button></a> {# promennou product_id to nezna #}
        </td>
  {% empty %} <!-- pouziti vzdy uvnitr for cyklu pro pripad, ze iterable neexistuje -->
      <p>The cart is empty</p>
  {% endfor %}
  </tbody>
</table>
<div><a href="{% url 'events:events_listing' 'all' %}">BACK</a></div>
{% endblock content %}
