@import url('https://fonts.googleapis.com/css?family=Roboto'); /*server s fonty */

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {   /*vsechny linky budou cerne, nikoliv modre; nebudou podtrzene */
    color: #000;
    text-decoration: none;

}

a:focus {  /*po kliknuti na odkaz se neobjevi modry obdelnik kolem ?? - budou to buttony */
    outline: none;
}

a:hover {
    color: #ff8926;
}

header {
    height: 3rem; /*vyska 3x M = 3x16px */
    width: 100%; /*roztahne se po cele sirce stranky */
    background-color: white;
    box-shadow: 0 3px 5px rgba(200,200,200);
    display: flex;
    white-space: nowrap;/*text v elementech se nesmrskava */

    position: sticky;/*element se scrolluje se strankou, ale jen pokud musi ze sve pozice. neni prenesen nad obsah stranky jako u fixed. */
  /*position: fixed;*/ /*tim se nastavi, ze se scrolluje spolu se strankou. prenese se tim nad main-banner(pozicovan 0,0), ktery se podsune pod nej. proto pokud chceme pouzit fixed, musime stahnout main-banner o 3rem dolu,
  abychom videli buttony */
    top:0;
  /*left:0;*/
}

.header-section {
    /*display: inline-block;*/ /*zobrazi block elementy(display=block, normalne kazdy zabere radek) vedle sebe */ /*inline-block: jsou vedle sebe a zaroven lze nastavit height a width, inline - nejde nastavit */
    /*width: 33%;*/ /*3 header-sections - stejne rozestupy */
    /*padding-top: 1rem; /*padding-top a padding-bottom plni funkci vertikalniho zarovnani na stred  - musi byt stejne (celkova vyska headeru je 3 rem) */
    /*padding-bottom: 1rem;
    /*outline:1px solid black;   ukaze male rozestupy mezi elementy, ktere tam nechceme */
    line-height: 3rem;  /* - toto muze byt jine reseni misto padding-top a -bottom */
}

#logo-container { /*  #logo-container a {...} --  chceme potomka=a rodice s id=logo-container, nicmene font-size se dedi, proto a byt nemusi  */
    text-align: left;
    font-size: 1.5em;/*vysledna velikost fontu je relativni k font-size rodice ?*/
}

#nav-buttons {
    margin: auto; /*misto ktere zbyva z row-width je rovnomerne rozdeleno po obou stranach pozicovaneho elementu */
    text-align: center;

}

#user-buttons {
    text-align:right;
}

.nav-button {
    margin: 0 1rem;/*prvni cislo- top, bottom; druhe cislo- right, left *//*proc jsou ty rozestupy tak velke? co margin collapse? */
    font-weight: 700;/*dostupne hodnoty viz info k fontu v google fonts */
}

/*.nav-button:hover {
    color: #ff8926;*/
}

.cart {
    position: relative;
}

.fa-shopping-cart {
    font-size: 1.3rem;
}

.fa-circle {
    color: #cca620;
    font-size: 1.1rem;
    position:absolute;
  /*  top: 5%; */
  /*  right: -13%; */
}

.cart-count {
    color: black;
    font-size: 0.8rem;
    position:absolute;
    top:-25%;
  /*  right: 13%;*/
}

#header-searchbox input {
    border: none;
    border-bottom: solid rgb(200,200,200) 1px;
    border-radius: 15px; /*zakulaceny okraj */
    padding-left: 20px;
    padding-bottom: 2px;
    color: #bc2d19; /*prepsat na vlastni barvu z palety */
    font-weight:700;
}

#header-searchbox {
    /*margin-right: auto;*/
}

.main-banner {
    /*position:relative;*/ /*nastaveno mnou! nelze, protoze backround prekryva header*/
    background-position: top;
    background-repeat: no-repeat;
    background-image: url('/static/img/chiringito_big.jpeg');
    height: 800px; /*musi byt specifikovano, jinak se image neobjevi */

    display: grid;
    grid-template-rows: 15% 30% 28% 1fr; /*4 radky o definovane sirce; prostor, ktery zbyva do 100% se rozdeli na fr */
    grid-template-columns: 10% repeat(6, 1fr) 10%; /*repeat (4, 1fr) - 4 sloupce o sirce 1 fr *//*kdyz pridame (6, 1fr) tak se zbyle 2 sloupce nastavi na auto?  */
    align-items: center;/*vertikalni zarovnani vsech elementu v gridovych bunkach */
    justify-items: center; /*horizontalni zarovnani vsech elementu v gridovych bunkach */
    grid-column-gap: 10px;/*mezera mezi gridy, tim docilime toho, ze mezi buttony bude vzdy mezera 10 px (pri jakekoliv sirce obrazovky) */

}

.sort-button {
    height: 45px;
    width: 200px;
    line-height: 45px; /*vertikalni zarovnani textu */

    font-size: 20px;
    text-align: center; /*horizontalni zarovnani textu */

    background-color: #ff8926;
    color: white;
    border-radius: 1em;

}

.sort-button:hover {
    color: #000

}

.submit-button {
    height: 45px;
    width: 200px;
    line-height: 45px; /*vertikalni zarovnani textu */

    font-size: 20px;
    text-align: center; /*horizontalni zarovnani textu */

    background-color: #1e4363;
    color: white;
    border-radius: 1em;

}

.submit-button:hover {
    background-color: #000;

}

footer {
    background-color: rgba(250,250,250);
    height: 200px;

    display: flex;
    justify-content: center; /*horizontalni nebo vertikalni (specifikuje flex-direction) zarovnani flexboxu na stred, margin mezi child elementy=default, nutno nastavit */
}

footer section {
    padding: 1em 0;
    width: 200px; /*need to specify width in order section to not stretch to max*/
    display: flex;
    flex-direction: column; /*razeni pod sebe*/
    justify-content: center;
}

footer section * {
    align-text: center;
}

footer section a {
    color: #4A4A4A;
    font-size: 0.8em;
    align-text: center;
}

/*footer section a:hover {
    color:#000;*/


.claim { /*element bude pozicovan 30% shora a 10% zleva od predchazejiciho parent elementu, ktery ma position:relative, coz je main-banner- jak to?? kde definovano?? */
    grid-area: 2 / 3 / 3 / 7; /*vymezuje oblast mezi pruseciky row:column 2:3 a 3:7*/
    /*text-align: center;*/ /*align horizontally*/ /*tento a nasledujici atribut nejsou potreba, pokud u containeru definovano justify a align -items*/
    /*line-height: 240px;*/ /*align vertically*/
    font-size: 80px;

    /*position:absolute;
    top: 30%;
    left: 10%;*/

}

.main-banner a:nth-of-type(1) { /*prvni acko v main banneru*/
    grid-area: 3 / 3 / 4 / 4;

}

.main-banner a:nth-of-type(2) {
    grid-area: 3 / 4 / 4 / 5;

}

.main-banner a:nth-of-type(3) {
    grid-area: 3 / 5 / 4 / 6;

}

.main-banner a:nth-of-type(4) {
    grid-area: 3 / 6 / 4 / 7;

}
/*na sirku auto se nastavi sloupce 2 a 7, protoze jsou prazdne a nemaji explicitne definovanou sirku, tzn. mame je ted po obou stranach - meni symetricky sirku v zavislosti na sirce obrazovky */

/*----------PAGINATION------------*/

.pagination {
    margin: 3em;
    display: flex;
    justify-content: center;
}

.pagination * {
    padding: 0.5em 1em;
}

.pagination-num_pages{
    padding: 0;
}

.pagination .active-pagination {
    background-color: #ff8926;
}

.pagination .active-pagination:hover {
    color: #1e4363;
}

.pagination .inactive-pagination {
    background-color: #fcf2cb;
}

/*-------Event Detail Page------*/

.main-image {
    height: 500px;
    width: 400px;
}

#event-item-icon {

    text-align: center;
    font-size: 500%;
    color: #bc2d19;
    border: 1px solid #bc2d19;
    line-height: normal;
}

.main-image img {
    height: 100%;
    width: 100%;
  /*object-fit: contain;*/ /* nastavi, aby obrazek narostl do kontejneru (div)*/
}

/*-------CAROUSEL SETUP--------*/

.owl-carousel {
    height: 400px;
    width: 500px;
    position: relative;
}

.owl-nav {
    font-size: 2rem;
}

.owl-prev {      /*tlacitko < zobrazujici predchozi obrazek */
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    left: 3%;
}

.owl-next {     /*tlacitko > zobrazujici dalsi obrazek */
    width: 15px;
    height: 100px;
    position: absolute;
    top: 40%;
    right: 3%;
}

/*-------HEADER--------*/
