main {

    height: 1500px;
    display: grid;
    grid-template-rows: 20% 10% 5% repeat(4,1fr) 10%;
    grid-template-columns: 10% repeat(4,1fr) 10%;

}

.events-banner {

    display: flex;
    width: 100%;
    height: 100%;
    background-image: url('/static/img/skyscrapers_cropped.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;/*cover - vyplni grid, ale pokud neodpovidaji rozmery obrazku velikosti grid-area, obrazek se orezava, contain - neni fixovano na celou grid-area, ale obrazek si zachovava rozmery */

    grid-area: 1 / 1 / 2 / 7;

    align-items: center;

}

.events-banner h1 {

    margin-left: 20%;
    font-size: 40px;

}

.events-container {

    display: grid;
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    grid-area: 4 / 2 / 8 / 6;

}

.event-item {

    display: flex;
    width: 100%;
    height: 100%;
    align-content: flex-start;/*kvuli flex-direction=column se PREHODI vyznam align a justify*/
    justify-content: flex-end;
    flex-direction: column; /*rovnani items ve flexboxu POD sebe*/
    flex-wrap: wrap; /*rovnani items co normalne vedele sebe ve flexboxu POD sebe, pokud neni misto*/

}

#event-item-icon {

    text-align: center;
    font-size: 500%;
    color: #bc2d19;
    border: 1px solid #bc2d19;
    line-height: 1.1;


}

.event-item-details p:nth-of-type(1) {

    font-style: italic;
    font-size: 16px;

}

.event-item-details p:nth-of-type(2) {

    font-weight: 700;
    font-size: 18px;

}

.event-category-filters {

    height: 100%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-column-gap: 10px;

    grid-area: 3 / 2 / 4 / 6;

    align-items: center;
    justify-items: center;

}

.event-category-filters a:nth-of-type(1) {
    grid-area: 1 / 1 / 2 / 2;

}

.event-category-filters a:nth-of-type(2) {
    grid-area: 1 / 2 / 2 / 3;

}

.event-category-filters a:nth-of-type(3) {
    grid-area: 1 / 3 / 2 / 4;

}

.event-category-filters a:nth-of-type(4) {
    grid-area: 1 / 4 / 2 / 5;

}

.event-category-filters a:nth-of-type(5) {
    grid-area: 1 / 5 / 2 / 6;

}

/*----------EVENT FILTERS------------*/

.event-filters {

    display: grid;
    grid-template-rows: 50px auto;
    grid-template-columns: 300px 300px 250px 250px 300px;

    grid-area: 2 / 1 / 3 / 7;

    align-content: top;
    align-items: center;
    justify-content: center;
    align-self: center;
    min-height: 100px;

}

.event-filters .form-filter {

    margin: 2em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;

}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border:none;
    border-bottom: solid black 1px;
    padding: 0.5em 1.5em;
    background-color: white;

}

.event-filters .form-filter:nth-of-type(1) {
    grid-area: 1 / 1 / 2 / 2
}

.event-filters .form-filter:nth-of-type(2) {
    grid-area: 1 / 3 / 2 / 4
}

.event-filters .form-filter:nth-of-type(3) {
    grid-area: 1 / 2 / 2 / 3
}

.event-filters .form-filter:nth-of-type(4) {
    grid-area: 1 / 4 / 2 / 5
}

.event-filters button {
    grid-area: 1 / 5 / 2 / 6;
    justify-self: center;
}

div.errors[for="date_from"] {
    grid-area: 2 / 1 / 3 / 2
}

div.errors[for="date_to"] {
    grid-area: 2 / 2 / 3 / 3
}

div.errors[for="guests"] {
    grid-area: 2 / 3 / 3 / 4
}

.errors {
    margin:10px;
    display: flex;
    flex-direction: column;
}

.error {
    color: #bc2d19;
    line-height: 1.2;
    text-align: center;
}
