main {
    height: 800px;
    display: grid;
    grid-template-rows: 30% 1fr 30%;
    grid-template-columns: 10% 1fr 10% 10% 30% 10%;
    align-items: center;
    justify-items: center;


}

#main-banner-small {

    display: flex;
    width: 100%;
    height: 100%;
    background-position: top; /*left-pri zmensovani obrazovky se zprava ukrajuje!*/
    background-size: cover;

    grid-area: 1 / 1 / 4 / 4;

}

.login-register {


    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;

    grid-area: 2 / 5 / 3 / 6;

}

.login-register form {

    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;

}

.login-register h2 {

    font-size: 40px;

}

.login-register p input {
    -webkit-appearance: none;
    appearance: none;
    border-style: none;
    border-bottom: 2px solid #1e4363;
    width: auto;
    height: auto;
    outline: none;
    padding: 10px;
    font-size: 30px;

}

.login-register p {

    display: flex;
    justify-content: space-between;
    align-items: center;

}
.login-register p label {

    font-size: 20px;

}

.login-register p input[type="password"] {



}

.login-register .submit-button {
/*    margin-top: 50px;*/

}
