main {
    height: 800px;
    display: grid;
    grid-template-rows: 15% 1fr 15%;
    grid-template-columns: 10% 1fr 10% 10% 1fr 10%;
    align-items: center;
    justify-items: center;


}
