{% load static %}

<!DOCTYPE html>
<html>
<head>

    {% block title %}

    {% endblock title %}
    {% block css %}

    {% endblock css %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous"> <!-- server s ikonami -->

    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

</head>
<body>

{% include 'header.html' %}

{% if messages %}
    <ul class="messages">
        {% for message in messages %}  <!-- cislo iterace ve for loop od 1 -->
            <li id="message_{{ forloop.counter }}"
            {% if message.tags %} class="{{ message.tags }}"
            {% endif %}>
                {{ message }}
            </li>
        {% endfor %}
    </ul>
{% endif %}

    {% block content %}
    {% endblock content %}

{% include 'footer.html' %}

    {% block scripts %}

    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    {# <script type="text/javascript"> ...  </script> #}  <!-- toto nahrazuje nasledujici radek -->
    <script src="{% static 'js/main.js' %}"></script>
    
    {% endblock %}

</body>
</html>
