<footer>
    <section>
        <h4>LOOKING FOR</h4>
        <a href='#'>Fun</a>
        <a href='#'>Relax</a>
        <a href='#'>Experience</a>
        <a href='#'>Sights</a>
    </section>
    <section>
        <h4>MOST POPULAR</h4>
        <a href='#'>Barcelona</a>
        <a href='#'>Rome</a>
        <a href='#'>Prague</a>
        <a href='#'>London</a>
    </section>
    <section>
        <h4>ABOUT</h4>
        <a href='#'>Contact Us</a>
        <a href='#'>Our Goal</a>
        <a href='#'>Careers</a>
        <a href='#'>Terms of Service</a>
    </section>
</footer>
