<header>

    <div class="header-section" id="logo-container"> <!-- musime priradit header-sekcim id, abychom v css mohli kazdemu dat ruzne atributy -->
        <a class="nav-button" href="/">
            Explorea
        </a>
    </div>

    <div class="header-section" id="nav-buttons">
        <a class="nav-button" href="{% url 'events:events_listing' 'all'%}">
            Events
        </a>
        <a class="nav-button" href="{% url 'events:my_events_listing' %}">
            My Events
        </a>
        <a class="nav-button" href="{% url 'accounts:host_list' %}">
            Hosts
        </a>
    </div>

    <div class="header-section" id="header-searchbox"> <!-- vyhledavaci pole -->
        <form  action="{% url 'events:search' %}" method="GET"> <!-- form action - kam se odeslou vlozena data -->
            <input type="text" name='q' placeholder="search ..."> <!-- placeholder - informativni text uvedeny ve vyhledavacim poli -->
        </form>
    </div>

    <div class="header-section" id="user-buttons">

            <a class="nav-button cart" title="Your Cart" href="{% url 'cart:detail' %}">
                <i class="fas fa-shopping-cart"></i> <!-- ikona stazena z: https://fontawesome.com/icons/shopping-cart?style=solid -->
                {% with cart|length as count %} <!-- length je built-in template filter, vraci pocet clenu v iterable (u dict je to pocet keys);
                                                cart je k dispozici v kazde template, protoze ho vraci middleware;
                                                count referencuje cart|length uvnitr with .. endwith -->
                  {% if count > 0 %}
                  <i class="fas fa-circle"></i>  <!-- ikona z: https://fontawesome.com/icons/circle?style=solid -->
                  <span class="cart-count"> {{ count }} </span> <!-- span vymezuje segment v ramci napr. textu, ktery je mozne stylovat separatne -->
                  {% endif %}
                {% endwith %}
            </a>

      <!--  {# {% if user.profile.is_host %} #} -->

            <a class="nav-button" title="Add Event" href="{% url 'events:add_event' %}">
                <i class="fas fa-plus-circle"></i>
            </a>

      <!-- {# {% endif %} #} -->

        {% if user.is_authenticated %}

            <a class="nav-button" title="Profile" href="{% url 'accounts:profile' %}">
                {{ user.username }}
                <i class="fas fa-user"></i>
            </a>
            <a class="nav-button" href="{% url 'accounts:logout' %}">
                logout
            </a>

        {% else %}
            <a class="nav-button" href="{% url 'accounts:login' %}">
                log in
            </a>
            <a class="nav-button" href="{% url 'accounts:register' %}">
                sign up
            </a>
        {% endif %}
    </div>

</header>
