{% load url_tags %}     <!--nahraje obsah templatetags/url_tags.py-->
{% load debug %}

<div class="pagination">
    <span class="step-links">
        {% if page.has_previous %} <!--pokud stranka, kterou chce user videt, ma predchozi stranku, vytvori se link, ktery zobrazi « a odkazuje na ni  -->
            <a href="{% next_page page.previous_page_number %}">&laquo;</a> <!--next_page je funkce definovana v url_tags, jejimz vystupem je URL s adresou na userem pozadovanou stranku
                                                                            a parametr page.previous_page_number se vlozi do jejiho parametru page_num -->
                                                                            <!--&laquo; je left-angle quote, neboli "<<"-->
        {% endif %}

        <span class="pagination-num_pages">
        {% for page_num in paginator.page_range %} <!--misto page.paginator.page_range - paginator.page_range: ListView.get_context_data() vklada do kontextu paginator objekt-->
            {% if page_num == page.number %}
                <a class="active-pagination" href="#">{{ page_num }}</a> <!--  odkaz na stranku, na ktere se uzivatel nachazi, bude mit jiny styl nez ty ostatni, nebude nikam odkazovat a bude oznacen cislem page_num  -->
            {% else %}
                <a class="inactive-pagination" href="{% next_page page_num %}">{{ page_num }}</a> <!-- odkazum na stranky v rozsahu page_range se priradi cisla page_num a stejne tak budou i oznaceny  -->
            {% endif %}
        {% endfor %}
        </span>

        {% if page.has_next %}
            <a href="{% next_page page.next_page_number %}">&raquo;</a>
        {% endif %}
    </span>
</div>
