{% extends 'base.html' %}

{% block title %}
<title>Add your event</title>
{% endblock title %}

{% block content %}

<div>
  <a href="{% url 'accounts:profile' %}">{{ user.get_full_name }}</a>
</div>

<div>

  <h2>Add Event {{ event.name }}</h2>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form.visible_fields %}

        <p>{{ field.label_tag}}{{ field }}</p>

        {% for error in field.errors %}
          {{ error }}
        {% endfor %}

    {% endfor %}

    <button type="submit">Save</button>
  </form>

</div>
{% endblock content %}
