{% extends 'base.html' %}

{% block title %}
<title>Add event run</title>
{% endblock title %}

{% block content %}

<div>
  <a href="{% url 'accounts:profile' %}">{{ user.get_full_name }}</a>
</div>

<div>

  <h2>Add event run</h2>

  <form method="post">
    {% csrf_token %}
    {% for field in form.visible_fields %}
        {% for error in field.errors %}
        {{ error }}
        {% endfor %}

        <p>{{ field.label_tag}}{{ field }}{{ field.help_text }}</p>

    {% endfor %}
    <button type="submit">Save</button>
  </form>

</div>
{% endblock content %}
