{% extends 'base.html' %}

{% load event_tags %}
{% load cart_tags %}

{% block title %}
<title>Event Detail</title>
{% endblock title %}

{% block content %}
<main>

  <h1>{{ event.name }}
    {#  {% if event.host == user %}  #} <!-- pouze user, ktery vytvoril event, ho muze editovat --> <!-- event.host is user: nefunguje, protoze user (z requestu) je SimpleLazyObject -->
      <h3>
    | <a class="edit-button" href="{% url 'events:update_event' event.slug %}">UPDATE THIS EVENT</a>  <!-- h1 a h3  - display: inline v css, aby byly vedle sebe   -->
    | <a class="edit-button" href="{% url 'events:delete_event' event.slug %}">DELETE THIS EVENT</a>
      </h3>
    {#  {% endif %}  #}
  </h1>

      <ul>
        <li>HOST: {{ event.host.get_full_name }}
        <li>LOCATION: {{ event.location}}
        <li>DESCRIPTION: {{ event.description}}
      </ul>

      <br>

      <div class="rating">
        <p>AVERAGE RATING: {{ avg_rating }} | NUMBER OF RATINGS: {{ num_ratings }} | <a class="edit-button" href="{% url 'posts:add_rating' event.slug %}">RATE THIS EVENT</a></p>
        <p><a class="edit-button" href="{% url 'posts:ratings_listing' event.slug %}">SHOW RATINGS OF THIS EVENT</a><p>
      </div>

      <div class="main-image">
        {% if event|has:'main_image' %}
        <img src="{{ event.main_image.url }}">
        {% else %}
        <div class="not-available">
          <i class="far fa-calendar-alt" id="event-item-icon"></i>
        </div>
        {% endif %}
      </div>

      <!--Image slideshow-->
      <div class="owl-carousel">
        {% for image in event.album.image_set.all %}
        <img src="{{ image.image.url }}" alt="{{ image.title }}"> <!--alt...alternativni popis - libovolny text-->
        {% endfor %}
      </div>

  <h1>Availability</h1>
<br>
  <ul>
  {% for run in runs %} <!-- |active -->
  <li>DATE: {{ run.date }},&nbsp; {{ run.time }},&nbsp; {{ run.seats_available }},&nbsp; {{ run.price }}

  {#  {% if run.event.host == user %}  #}

    &nbsp <a class="edit-button" href="{% url 'events:update_run' run.event.slug run.id %}">UPDATE THIS RUN</a>
    &nbsp <a class="edit-button" href="{% url 'events:delete_run' run.event.slug run.id %}">DELETE THIS RUN</a>
  {#  {% else %}  #}
    <td>
      <div>
        <form class='cart-add' method='POST' action="{% url 'cart:add' run.event.slug %}"> <!-- class='cart-add' nadefinujeme, protoze pouzivame v testech k vyberu elementu -->
                                                                                            <!-- form action=.. po stlaceni submit presmerovava na zadane url -->
          {% csrf_token %}
          {{ cart_add_form.quantity }}
          {# {{ cart_add_form.current_quantity }} #}   <!-- toto je typ commentu, ktery nikdy nespusti obsazeny kod! nesmi byt multiline  -->
          <input name="current_quantity" value="{% get_key cart run.id %}" type="hidden"> <!-- run.id je product_id  -->
          <input name="product_id" value={{ run.id }} type="hidden">
          <button type='submit'>Add to Cart</button>
        </form>
      </div>
    </td>
  {#  {% endif %}  #}

    <br>

  {#     {% if run.event.host == user %}  #}
    <div><a href="{% url 'events:add_run' event.slug %}">ADD EVENT RUN</a></div>
  {#         {% endif %}   #}

  {% endfor %}

  </ul>

<div><a href="{% url 'events:my_events_listing' %}">BACK</a></div>

</main>
{% endblock content %}
