{% extends 'base.html' %}

{% load event_tags %}   <!--nacte custom filtry z events/templatetags/event_tags.py, templatetags je package-->
{% load static %}

{% block title %}
<title>Event Listing</title>
{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/events_listing.css' %}">
{% endblock css %}

{% block content %}
<main>
  <div class="events-banner">

    <h1>Events Listing</h1>

  </div>

  <form class="event-filters"  method="GET">
      {% for hidden_field in form.hidden_fields %}
          {{ hidden_field }}
      {% endfor %}

      {% for field in filter_form.visible_fields %}
          <div class="form-filter">
              {{ field.label_tag }} {{ field }} <!--pokud je form method = GET, <input type="neco" name="guests"...> znamena ze request.GET bude obsahovat pod key guests uzivatelem vlozenou hodnotu do pole input -->
          </div>

              <div class="errors" for={{ field.name }}> <!--for je atribut,{{ field.name }} je value - diky tomu v css: napriklad .errors[for="date_to"]   -->
                  {% for error in field.errors %}
                      <div class="error">{{ error }}</div>
                  {% endfor %}
              </div>

      {% endfor %}
      <button class="submit-button" type="submit">Filter</button>
  </form>

  <div class="event-category-filters">
      <!--by clicking these buttons we should be taken to event listing, that show us only events of the given event category-->
      <a class="sort-button" href="{% url 'events:events_listing' 'fun' %}">Fun</a>
      <a class="sort-button" href="{% url 'events:events_listing' 'experience' %}">Experience</a>
      <a class="sort-button" href="{% url 'events:events_listing' 'sights' %}">Sights</a>
      <a class="sort-button" href="{% url 'events:events_listing' 'relax' %}">Relax</a>
      <a class="sort-button" href="{% url 'events:events_listing' 'all' %}">All</a>
  </div>

  <div class="events-container">
    {% if event_runs %}
      {% for eventrun in event_runs %}
          <a class="event-item" href="{{ eventrun.event.get_absolute_url }}">
            {% if eventrun.event|has:'thumbnail' %}
                <img src="{{ eventrun.event.thumbnail.url }}">
            {% else %}
                <div class="not-available"></div>
                  <i class="far fa-calendar-alt" id="event-item-icon"></i>
            {% endif %}
                <div class="event-item-details">
                    <p>HOST: {{ eventrun.event.host }} </p>
                    <p>{{ eventrun.event.name }}</p> <!-- <br> vytvori 1 prazdny radek -->
                    <p>{{ eventrun.event.location}}</p> <!--events:event_detail je namespace:name,  event.name se vlozi do <...> u odpovidajici funkce path, kde name="event_detail"-->
                    <p><strong>Next:</strong> {{ eventrun.date}} </p><!--event.eventrun_set.all je queryset(odpovida objects), min_attr_value je custom filter funkce, "date" je argument teto funkce (odpovida field_name) -->
                    <p><strong>Price:</strong> {{ eventrun.price }}</p>
                    <p><strong>Seats:</strong> {{ eventrun.seats_available }}</p>
                    <hr>
                    <p><strong>From:</strong> {{ eventrun.event.eventrun_set.all|active|min_attr_value:"price" }}</p><!-- filtry lze radit za sebou; events je napr. <EventQuerySet[<Event: Sitting>]>, event je <Event: Sitting>, tzn. objekt -->
                    <p><strong>Seats Up To:</strong> {{ eventrun.event.eventrun_set.all|active|max_attr_value:"seats_available" }}</p>
                </div>
          </a>
      {% endfor %}
    {% else %}
      <div class="info empty-search">No events found ...</div>
    {% endif %}
  </div>

</main>
{% include 'pagination.html' with page=page_obj %}    <!--event_runs, ktere nam vraci views.py/event_listing -> zmena: page_obj, ktere nam vraci views.py/vse co dedi z ListView  se budou v template pagination.html nazyvat page-->

{% endblock content %}
