{% extends 'base.html' %}

{% block content %}

<form method="post">{% csrf_token %}
    <p>Are you sure you want to delete event run <strong> {{ object.date }} </strong> for event <strong> {{ object.event.name }} </strong> ?</p>
    <button type="submit">Delete</button>
    <a class="button-gold " href="{{ object.event.get_absolute_url }}">Cancel</a>
</form>

{% endblock %}
