{% extends 'base.html' %}

{% block title %}
<title>Home Page</title>
{% endblock title %}

{% block content %}

<div class="main-banner">  <!-- zde je umisten background image -->
    <p class="claim">Let's do something</p>
    <a class="sort-button" href="{% url 'events:events_listing' 'fun' %}">Fun</a>
    <a class="sort-button" href="{% url 'events:events_listing' 'experience' %}">Experience</a>
    <a class="sort-button" href="{% url 'events:events_listing' 'sights' %}">Sights</a>
    <a class="sort-button" href="{% url 'events:events_listing' 'relax' %}">Relax</a>
</div>


{% endblock content %}
