{% extends 'base.html' %}

{% load static %}

{% block title %}
<title> Your Events Listing</title>
{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/events_listing.css' %}">
{% endblock css %}

{% block content %}
<main>
  <div class="events-banner">

    <h1>Your Events Listing</h1>

  </div>

    <ul class="events-container">
    {% for event in events %}
      <li class="event-item">
        <i class="far fa-calendar-alt" id="event-item-icon"></i>

        <p>HOST: {{ event.host }} </p>
        <p><a href="{% url 'events:event_detail' event.slug %}">{{ event.name }}</a> </p> <!-- <br> vytvori 1 prazdny radek -->
        <p>{{ event.location}}</p> <!--events:event_detail je namespace:name,  event.name se vlozi do <...> u odpovidajici funkce path, kde name="detail"-->
        <p><a href="{% url 'events:update_event' event.slug %}">UPDATE</a></p>
        <p><a href="{% url 'events:delete_event' event.slug %}">DELETE</a></p>
    {% endfor %}
    </ul>


</main>
{% endblock content %}
