{% extends 'base.html' %}

{% load static %}

{% block title %}
<title> Ratings </title>
{% endblock title %}


{% block content %}
<main>
  <div>

    <h1>Ratings Listing</h1>

  </div>

  <ul>
    {% for rating in ratings %}
      <li> {{ rating.eventrun }}
      <li> {{ rating.created }}
      <li> {{ rating.mark }}
      <li> {{ rating.comment }}
    {% endfor %}
  </ul>

</main>
{% endblock content %}
